.main{
    background-color: aqua;
}

table, th, td {
    border-collapse: collapse;
    }
    
    
    th, td {
    padding: 10px;
    }
    
    th {
    background-color: darkslategrey;}
    
    td {
    background-color: #FDDF95;}

